.rbt-input-main.form-control.rbt-input{
    width: 25rem;
    color: white !important;
}
#searchbtn{
    
    padding: -0.16rem 2.14rem !important;
       background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.navbar{
    line-height: 0.4rem;
}
.navbar .dropdown-menu a{
    font-weight: 400;
}
.btn-outline-primary{
    border:none !important;
    padding: 0 !important;
    color: white !important;
    margin-right: 0.5rem;
}
#add{
    color:white;
    margin-left: 1rem !important;
    margin-right: 0.5rem !important;
}
#add:hover{
    color:grey;
}
#dashboard{
    color:white;
    margin-top: 2rem;
}
#dashboard:hover{
    color:grey;
}
::placeholder{
    color: darken(white,10) !important;
}
@media (max-width: $desktop-breakpoint){
.rbt-input-main.form-control.rbt-input{
    width: 35rem;
    color: white !important;
}
.navbar{
    line-height: 2rem;
}


}
@media ( max-width: 500px ){
.rbt-input-main.form-control.rbt-input{
    width: 19rem;
    color: white !important;
}
.navbar{
    line-height: 2rem;
}

}